{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "endOfLine": "auto"
}
