@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Lexend+Mega:wght@100..900&family=Major+Mono+Display&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tan-aegean';
  src: url('/fonts/TAN-AEGEAN-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  @apply font-aegean;
}
